<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommendations</title>
</head>
<body>
    <h1>Movie Recommendations</h1>
    <form method="post" action="/recommend">
        <label for="user_id">Enter User ID:</label>
        <input type="text" id="user_id" name="user_id">
        <button type="submit">Get Recommendations</button>
    </form>
    {% if recommendations_titles %}
        <h2>Recommendations:</h2>
        <ul>
            {% for movie in recommendations_titles %}
                <li>{{ movie }}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for id in recommendations %}
                <li>{{ id }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
